<mat-card class="movie-item" *ngIf="genresArr.length">
  <div class="image-wrapper">
    <img [src]="'https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/' + movie.backdrop_path" alt="">
  </div>
  <img [src]="'https://www.themoviedb.org/t/p/w300_and_h450_bestv2/' + movie.poster_path" mat-card-image>
  <div class="movie-item__info" mat-card-content>
    <div>
      <mat-progress-bar mode="determinate" [value]="movie.vote_average * 10"></mat-progress-bar>
      <span>{{ movie.vote_average * 10 }}%</span>
    </div>
    <a [routerLink]="['/catalog', movie.id]"><mat-card-title>{{ movie.title | titlecase }}</mat-card-title></a>
    <p class="movie-item__info-genres">
      <span *ngFor="let genre of movieGenres; let i=index">{{ genre['name'] }}<span *ngIf="i !== movieGenres.length - 1">, </span> </span>
    </p>
    <mat-card-content>{{ movie.overview }}</mat-card-content>
    <p>{{ movie.video }}</p>
    <div class="movie-item__info-favourite" (click)="setFavourite(movie.id)">
      <svg class="icon">
        <use xlink:href="#favourite"></use>
      </svg>
    </div>
  </div>
</mat-card>
