<app-page-banner
(searchMoviesEvent)="searchMovie($event)"
[movies]="movies"
></app-page-banner>
<div class="movies">
  <app-movie-item *ngFor="let movie of movies | paginate: { id: 'home-movies',
    itemsPerPage: 20,
    currentPage: page,
    totalItems: collection }"
    [movie]="movie"
    [genresArr]="genres"
    ></app-movie-item>
  <div class="pagination">
    <pagination-controls  id="home-movies"
      (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)"
      maxSize="9"
      directionLinks="true"
      autoHide="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
  </pagination-controls>
  </div>
</div>
